body {
  background-color: rgb(182, 171, 109);
  border: 4px solid black;
}

.Page {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  border: 2px solid black;
}

a {
  color: black;
}

.Info {
  margin: 4px;
}

.Webobjective {
  border: 2px solid black;
  margin-top: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}

