body {
  background-color: white;
  border: 4px solid rgb(220, 216, 216);
}

.Page3 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  border: 5px solid white;
}

a {
  color: black;
}

.Info {
  margin: 4px;
  gap: 20px;
}

.content {
  border: 2px solid black;
  margin-top: 16px;
  display: flex;
}

